@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700);

$headingColor: #38a8df;
$linkColor: #00467f;
$topicsBodyColor: #768897;
$aboutBodyColor: #0f5894;
$headerFontColor: #fff;
$headerOverlayColor: rgba(0,0,0,.75);
$footerBGColor: #213240;

$headingFont: 'Montserrat', arial, sans-serif;
$bodyFont: 'Open Sans', arial, sans-serif;


* {
  margin:0;
  padding:0;
}

.align-center {
  text-align:center;
}

body {
  font-size:62.5%;
  font-family:$bodyFont;
  background:#fff url(../images/bg.png) 0 0 repeat;
  padding-bottom:40px;
}

#container {
  max-width:1200px;
  width:90%;
  margin:0 auto;
  border:1px solid #bfcbd6;
  box-sizing:border-box;
  background-color:#fff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow:hidden;
}

header {
  height:400px;
  width:100%;
  margin:0 auto;
  background:transparent url(../images/header-bg.png) bottom center no-repeat;
  background-size:cover;
  position:relative;
  background-attachment: fixed;

  .overlay {
    background-color:$headerOverlayColor;
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  h1 {
    color:$headerFontColor;
    font-size:6em;
    font-family:$headingFont;
    z-index:5;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    word-wrap: break-word;

    a {
      color:inherit;
      text-decoration: none;
    }
  }
}

.content {
  padding:60px;
  overflow:hidden;
}

.headline {
  font-size:3em;
  margin-bottom:20px;
  text-transform: uppercase;
  color: $headingColor;
  font-family:$headingFont;
}

.topics {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;

  .topic {
    width:50%;
    box-sizing:border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:left;
    padding:10px 20px 10px 10px;
    margin-bottom:20px;
    border:1px solid #fff;

    &:nth-child(2n+2){
      padding-right:20px;
      padding-left:20px;
    }

    &:hover {
      border:1px dashed #28b1e4;
      background-color:#fdfff0;
      cursor:pointer;
    }

    h3 {
      color:$linkColor;
      font-family:$headingFont;
      font-size:2em;
      word-wrap:break-word;
    }

    .l {
      padding-right:20px;
      box-sizing:border-box;
      width:80%;
      align-self:center;

      .topic-content {
        font-size:1.4em;
        font-family:$bodyFont;
        color:$topicsBodyColor;
      }
    }

    .r {
      width:20%;
      padding-right:40px;
      box-sizing:border-box;


      .icon {
        background-color:#28b1e4;
        border-radius:50%/50%;
        overflow:hidden;
        height:100px;
        width:100px;;

        img {
          height:70px;
          width:70px;
          max-width:100%;
          position:relative;
          top:50%;
          left:50%;
          transform:translateY(-50%) translateX(-50%);
        }
      }
    }
  }
}

.worker-wrap {
  margin-top:40px;

  > h2 {
    width:70%;
    margin:0 auto;
  }
}

footer {
  height:40px;
  background-color:$footerBGColor;
}