<div class="topic-wrap">
  <h2 class="headline">Course Topics</h2>
  <div class="topics">
    <div ng-repeat="topic in topics" topic></div>
  </div>
</div>

<div class="worker-wrap">
  <h2 class="headline align-center">Here's what humanitarian aid workers are saying about us</h2>
  <ul class="aid-workers">
    <li ng-repeat="worker in workers" worker></li>
  </ul>
</div>

<div class="button-wrap">
  <h2 class="headline align-center">Become Disaster Ready Today!</h2>
  <input type="button" class="button blue start-learning-button" value="Start Learning Now" />
</div>